*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid black;
}

.myntra_logo {
    height: 4rem;
    width: 4rem;
    margin: 0.5rem;
}

.nav-bar{
  display: flex;
  min-width: 500px;
  justify-content: space-between;
  margin-top: 2rem;
  /* margin-left: -300px; */
}

.nav-bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-bar a:hover{
    border-bottom: 5px solid rgb(255, 2, 162);
}

.nav-bar a sup{
    color: rgb(249, 4, 131);
    font-size: 10px;
}

.search-bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 1rem;
    align-items: center;
    background-color: #f5f5f6;
    color: #696e79;
}

.search-bar i{
    height: 20px;
    padding: 1rem;
    /* background-color: #f5f5f6; */
    /* color: #696e79; */
    margin-left: 0.5rem;
}

.search-input{
    background-color: #f5f5f6;
    color: #696e79;
    flex-grow: 1;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 1.5rem;
}

.action-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: auto;
}

.action-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: -5rem;
}

.action-name{
    margin-top: 0.25rem;
    font-weight: 550;
}

.banner-image{
    width: 100%;
}

.banner-container{
    margin: 40px 0;
}

.category-heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 0.15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    font-weight: 550;
    max-height: 5em;
}

.category-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale-item{
    width: 250px;
}

.footer-container{
    padding: 30px 0 40px 0;
    background-color: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}

.footer-col{
    display: flex;
    flex-direction: column;
}

.footer-col a{
    color: #3e4152;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}